<div class="card" ng-controller="TareasFinalizadasController">

    <div class="card-header" data-background-color="green">
        <h3>Tareas Finalizadas</h3>
    </div>   
    
    <div class="card-content">
        <table class="table">
            <thead>
                <tr>
                    <th>Solicitante</th>
                    <th>Fecha</th>
                    <th>Solicitud</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="t in tareasFinalizadas">
                    <td>{{t.solicitante.nombre + ' ' + t.solicitante.apellido}}</td>
                    <td>{{t.fechaSolicitudStr}}</td>
                    <td>{{t.tipoTarea.nombre}}</td>
                </tr>
            </tbody>
        </table>
    </div>    


</div>   